[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/ctrlp-matcher"]
	path = .vim/bundle/ctrlp-matcher
	url = https://github.com/JazzCore/ctrlp-cmatcher
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/toml.vim"]
	path = .vim/bundle/toml.vim
	url = https://github.com/cespare/vim-toml
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/hclfmt"]
	path = .vim/bundle/vim-hclfmt
	url = https://github.com/fatih/vim-hclfmt
[submodule ".vim/bundle/clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
