[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/ctrlp-matcher"]
	path = .vim/bundle/ctrlp-matcher
	url = https://github.com/JazzCore/ctrlp-cmatcher/
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".emacs.d"]
    path = .emacs.d
    url = https://github.com/purcell/emacs.d
