[user]
	name = Nathan LeClaire
	email = nathan@cryptoworkbench.io

[core]
        editor = vim

[push]
        default = simple

[github]
        user = nathanleclaire

[color]
        ui = always

[diff]
        algorithm = minimal
        compactionHeuristic = true
        renames = true

[color "diff"]
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = red reverse

[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = "red bold 52"
        newNormal = "green bold"
        newHighlight = "green bold 22"

[core]
        pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less -RFX
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[init]
	defaultBranch = main
